@import url(./NavBar.css);
@import url(./QuestionForm.css);
@import url(./HomePage.css);
@import url(./AnswerQuestion.css);
@import url(./AskQuestion.css);

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("https://wallpapercave.com/wp/wp9067458.jpg");
  background-size: cover;
  background-position: center 20%;
  filter: blur(2px);
  z-index: -1;
}
